.app {
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.horizontalBarChart {
  height: 400px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  div {
    width: 25%;
  }
}
