.app {
  height: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  text-align: start;
}

.horizontalBarChart {
  height: 400px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  div {
    width: 25%;
  }
}

.averageWaitingTimeGraph {
  margin-top: 50px;
  div {
    height: 200px;
  }
}
